*{
    margin:0px;
    padding:0px;
    font-family:'Poppins', sans-serif;
    box-sizing: border-box;
}

body{
    background:rgb(2, 2, 43);
    display:flex;
    justify-content: center;
    align-items: center;
    padding:10px;

}
.app{
    margin:20px;
    background-color:#fff;
    padding:20px;
    width:100%;
    border-radius:20px;
    border:none;

}
.app h1{
    text-align: center;
    color:darkblue;
    margin-bottom:20px;
}
.answer-buttons {
    background: #fff;
    color: #222;
    font-weight: 500;
    width: 100%;
    border: 1px solid #222;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;
}
#next-button{
    background:darkblue;
    font-size:16px;
    padding:4px 20px 4px;
    color:white;
    border:none;
    outline:none;
    border-radius:20px;
    cursor:pointer;
    margin-top:20px;
    transition:all 0.3s;
    display:none;
}
.answer-buttons.correct{
    background-color:#9aeabc !important;
    color: #000;
}

.answer-buttons.incorrect {
    background-color: #ff9393 !important;
    border-color: #e74c3c !important;
    color: #000;
}
.answer-buttons:disabled {
    cursor: default;
    opacity: 0.8;
}