 /* this contains the css of header */
.header{
    display: flex;
    flex-direction:row;
    column-gap:20px;
    height:60px;

}
.left-section{
    display:flex;
    align-items: center;
    
}

.hamburger-menu{
    height:24px;
    margin-left:24px;
    margin-right:20px;
}

.youtube-logo{
    height:20px;
}

.middle-section{
    display:flex;
    align-items:center;
    flex:1;
    margin-left:70px;
    margin-right:30px;
    display: flex;
    max-width:500px;
}

.search-bar
{
   height:36px;
    flex:1;
    padding-left:10px;
    font-size:16px;
    border:1px solid rgb(188, 186, 186);
    border-radius:2px;
    box-shadow: inset 1px 2px 3px rgb(0,0,0,0.15);
    border-color: rgb(192,192,192);
    width:0;
}
.search-bar::placeholder{
    font-family: roboto , arial;
    font-size:16px;
}

.search-button{
    height:38px;
    margin-top:2px;
    width:60px;
    background-color:rgb(249, 248, 248);
    border-color: rgb(206, 206, 206);
    border-width:1px;
    margin-left:-1px;
    box-shadow: inset 1px 2px 3px rgb(0,0,0,0.15);
    margin-right:10px;
    cursor:pointer;
    
    
}
.search-icon
{
    height:30px;
}
.search-button:active{
    background-color: rgb(51, 213, 132);
}

.voice-search-button
{
    height:40px;
    width:40px;
    border-radius:20px;
    border:none;
    cursor:pointer;
    background-color: rgb(238, 233, 233);


}

.voice-search-button:active 
{
    background-color: yellowgreen;
}
.voice-search-icon
{
    height:24px;
    margin-top:4px;
}

.right-section {
  width: 180px;
  margin-right: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
}

.upload-icon {
  height: 24px;
}

.youtube-app-icon
{
    height:24px;

}
.notifications-icon {
  height: 24px;
}

.mychannel-image{
  height: 32px;
  border-radius: 16px;
}